.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    padding: 10px;
    position: relative;
}
.skills .habilidad{
    position: relative;
    top: -50px;
    left: -60px;
}
.skills .habilidad span{
    color:  var(--colorBoton);
    position: relative;
    
}
.skills .habilidad svg{
    position: relative;
    width: 50px;
    height: 45px;
}
.skills .habilidad p{
    position: relative;
    top: -50px;
    left: -270px;
}
.skills .habilidad h2{
    color: var(--colorTitulo);
    margin: 2px;
    position: relative;
    top: -50px;
    left: 50px;
}
.skills .habilidad .text {
    position: relative;
    top: -40px;
    left: 50px;
}
.skills .lenguaje img{
    position: relative;
    left: 100px;
    width: 500px;
   
}

@media (max-width: 768px) {
    .skills .habilidad{
        position: unset;
    }

    .skills .lenguaje img{
        position: unset;
    }

    .skills .habilidad p {
        left: 50px;
    }
}

@media (max-width: 1280px) {
    .skills .habilidad {left: 57px;
    }

    .skills .habilidad p {
        left: -200px;
    }
}