header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 35px;
}
.titulo {
    font-weight: bold;
    font-size: 50px;
    background: #22EDFB;
    background: -webkit-linear-gradient(to right, #22EDFB 0%, #FF4D71 100%);
    background: -moz-linear-gradient(to right, #22EDFB 0%, #FF4D71 100%);
    background: linear-gradient(to right, #22EDFB 0%, #FF4D71 100%);
    background-clip: 0;  /*especifica si el fondo de un elemento, ya sea el color o la imagen, se extiende por debajo de su borde*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
nav{
    display: flex;
    justify-content: center;
}
.navItem > a {
    font-size: 23px;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
    color: var(--colorLetra);
    position: relative;
}

.navToggle{
    display: none;
}

@media (max-width: 768px){
    .navItem{
        position: absolute;
        margin: 0;
        top: 100px;
        left:0;
        background-color: var(--colorBase);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available; /*Me cubre todo el largo de la pagina*/
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .navItem.open{
        transform: translateX(0) !important;
    }
    nav{
        display: flex;
        justify-content: flex-start;
    }
    .navToggle svg{
        color: var(--colorLetra);
    }
    .navToggle{   
        font-size: 30px;   
        display: flex !important;
        flex-direction: column;
        transform-origin: 5px 0;
        transition: all 0.5s linear;
    }
    .titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}