:root{
    --tipografia:  'Montserrat', sans-serif;
    --colorGradient: #22EDFB;
    --colorBase: #14104B;
    --colorBoton: #FF4D71;
    --colorLetra: #74809C;
    --colorTitulo: #EFF7FE;
}
body{
    background-color: var(--colorBase);
    font-family: var(--tipografia);
}
h4{
    color: var(--colorLetra);
}
h3{
    color: var(--colorTitulo);
}
